/* StudentCrud.css */

.table-container {
    max-width: 800px; /* Adjust the maximum width as desired */
    margin: 0 auto; /* Center horizontally */
    padding: 20px; /* Add padding for spacing */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
  }
  


  /* form css */
  